{% extends "base.html" %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ data.title }}.html" rel="bookmark"
         title="Permalink to {{ data.title }}">{{ data.title }}</a></h2>
  </header>
  <footer class="post-info">
    <address class="vcard author">
          By <a class="url fn" href="{{ data.author }}.html">{{ data.author }}</a>
    </address>
    <div class="category">
        Category: <a href="{{ data.category }}.html">{{ data.category }}</a>
    </div>
  </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ data.body }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}
